@tailwind base;
@tailwind components;
@tailwind utilities;

#myNumberInput {
  -moz-appearance: textfield; 
  appearance: textfield; 
}

#myNumberInput::-webkit-outer-spin-button,
#myNumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#myNumberInput {
  caret-color: transparent; 
}

#myNumberInput::-webkit-contacts-auto-fill-button {
  display: none; 
}
